<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Patients</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" th:object="${form}"  th:action="@{/save}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label>First Name</label>
                <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input type="text" th:field="*{email}" class="form-control" placeholder="Email">
            </div>
            <div class="form-group" >
            <label>Select if patient has been tested or not</label>
            <select th:field="*{test}">
                <option th:each="testOpt : ${T(com.mvc.App.entity.Tested).values()}"
                        th:value="${testOpt}" th:text="${testOpt.displayValue}"></option>
            </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <a class="btn btn-info" href="#" th:href="@{/}"> Back to All Patients </a>
    </div>
</body>
</html>