<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Patients</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <h1> Add Patients </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-info" href="#" th:href="@{/}"> Back to All Patients </a>
        <form action="#" class="form-horizontal" th:action="@{/save}" th:object="${form}" method="post">
            <fieldset>
					<span class="pull-right">
                        <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
                        <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                <table class="table">
                    <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Infected?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient, itemStat : *{patient}">
                        <td><input th:field="*{patient[__${itemStat.index}__].firstName}" /></td>
                        <td><input th:field="*{patient[__${itemStat.index}__].lastName}" /></td>
                        <td><input th:field="*{patient[__${itemStat.index}__].email}" /></td>
                        <td><select class="form-control" th:field="*{patient[__${itemStat.index}__].infected}">
                            <option th:value="${patient.infected}" >true</option>
                            <option th:value="${patient.infected}" >false</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>